.header {
  background-color: $bg-secondary;
  padding: 30px;
  @include mobile {
    padding: 0;
  }
  .header-inner{
    @include mobile {
      flex-direction: column;
    }
  }
  .logo {
    @include mobile {
      height: 50px;
      margin: 10px 0;
    }
    a {
      background-image: url('./images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 80px;
      height: 49px;
      @media (max-width:$breakpoint-mobile-m){
        width: 60px;
      }
      @include mobile {
        width: 48px;
      }
    }
  }
  // menu
  .header-menu{
    @media (max-width:$breakpoint-mobile) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .header-menu li {
    margin-left: 64px;
    @include mobile {
      text-align: center;
      width: 50%;
      margin: 0;
      border: 1px solid #fff;
    }
    a {
      font-size: $h6-font-size; // 20px
      text-decoration: none;
      color: #fff;
      display: block;
      border-bottom: 2px solid rgba(0,0,0,0);
      @include mobile {
        padding: 8px 0;
        border:none;
      }
    }
    a:hover {
      border-bottom: 2px solid #fff;
      @include mobile{
        border:none;
        color:$text-primary-light;
        background-color: #fff;
      }
    }
    @include pad {
      margin-left: 40px;
    }
    @media (max-width: $breakpoint-mobile-l) {
      margin-left: 20px;
    }
    @include mobile {
      margin: 0;
    }
  }
}
