.top_img-7 {
  top: 70px;
}

.right-10 {
  right: 10%;
}

.-bottom-md-25 {
  @include media-breakpoint-up(md) {
    bottom: -25%;
  }
}
.bottom-lg-4 {
  @include media-breakpoint-up(lg) {
    bottom: 4%;
  }
}

