// overwrite bootstrap variables

/* color */
$primary: #772400;
$secondary: #d54100;
$light:#F0AD25;

/* body */
$body-color: $primary;

/* link */
$link-hover-color: $secondary;

/* font */
$font-family-sans-serif: 'Noto Sans TC', sans-serif;
$font-size-base: 1rem;
$font-size: 
  (
    'sm': ($font-size-base *0.875), // 14px
    'base': $font-size-base,        // 16px
    'lg': ($font-size-base * 1.25), // 20px
    'xl' :($font-size-base * 1.5),  // 24px
    '2xl': ($font-size-base * 1.75),// 28px
    '3xl': ($font-size-base * 2),   // 32px
    '4xl': ($font-size-base * 2.25),// 36px
    '5xl': ($font-size-base * 2.5), // 40px
    '6xl': ($font-size-base * 3),   // 48px
    '7xl': ($font-size-base * 5),   // 80px
  );

/* font weight*/
$text-weight:(
  'regular':400,
  'medium':500,
  'bold':700
);

/* spacing */
$spacer: 1rem ;
$spacers: (
  0: 0,
  1:  ($spacer * 0.25), // 4px
  2:  ($spacer * 0.50), // 8px  
  3:  ($spacer * 0.75), // 12px
  4:  ($spacer * 1.00), // 16px
  5:  ($spacer * 1.25), // 20px
  6:  ($spacer * 1.50), // 24px  
  7:  ($spacer * 1.75), // 28px
  8:  ($spacer * 2.00), // 32px
  9:  ($spacer * 2.25), // 36px
  10: ($spacer * 2.50), // 40px
  11: ($spacer * 2.75), // 44px  
  12: ($spacer * 3.00), // 48px
  13: ($spacer * 3.25), // 52px
  14: ($spacer * 3.50), // 56px
  15: ($spacer * 3.75), // 60px
  16: ($spacer * 4.00), // 64px
  17: ($spacer * 4.25), // 68px
  18: ($spacer * 4.50), // 72px
  19: ($spacer * 4.75), // 76px
  20: ($spacer * 5.00), // 80px
  21: ($spacer * 5.25), // 84px
  22: ($spacer * 5.50), // 88px
  23: ($spacer * 5.75), // 92px
  24: ($spacer * 6.00), // 96px
  25: ($spacer * 6.20), // 100px
  55: ($spacer * 13.75), // 220px
) ;

/* grid-breakpoints */
$grid-breakpoints: (
  xs: 0,
  mb: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/* container */
$container-max-widths: (
  mb: 95%,
  sm: 95%,
  md: 760px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

/* sizing*/
$width-ratio:(
  '0':0%,
  '25':25%,
  '75':75%,
  '100':100%
);

/*navbar */
$navbar-dark-color:#F8B52E;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;