.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 840px;

  @media (max-width: 992px) {
    &-title {
      font-size: 20px;
      font-weight: 500;
    }
    &-subtitle {
      font-size: 48px;
    }
  }

  @media (max-width: 768px) {
    &-title {
      font-size: 16px;
    }
    &-subtitle {
      font-size: 32px;
    }
  }
}

.professional {
  padding-top: 64px;
  padding-bottom: 80px;
  &-title {
    margin-bottom: 60px;
  }
  img {
    width: 100px;
    height: 100px;
    margin: 0 auto 40px;
  }
  h3 {
    margin-bottom: 4px;
  }

  li {
    width: 20%;
  }

  @media (max-width: 992px) {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 20px;
    }
    li {
      width: 40%;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 24px;
    }
  }

  @media (max-width: 414px) {
    li {
      width: 90%;
    }
  }
}

.series {
  padding: 64px 0 80px;
  h2 {
    margin-bottom: 60px;
  }
  li > img {
    max-width: 635px;
  }
  li a {
    margin-left: 30px;
  }
  li:nth-child(2) a {
    margin-left: 0;
    margin-right: 30px;
  }
  @media (max-width: 1200px) {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    li:nth-child(2) {
      flex-direction: row;
      a {
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
  @media (max-width: 992px) {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    li {
      position: relative;
      margin-bottom: 8px;
    }
    li > img {
      max-width: 100%;
      width: 100%;
    }
    h3 {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h3 > a {
      img:nth-child(1) {
        display: none;
      }
      img:nth-child(2) {
        display: inline;
      }
    }
  }
}

.crossover {
  padding: 64px 0 80px;
  background-image: url('../images/bg.png');
  h2 {
    margin-bottom: 60px;
  }
  li {
    position: relative;
    background-color: #fff;
  }
  li h3 {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  li img {
    opacity: 0.5;
  }
  li:nth-child(2) {
    margin-left: 30px;
  }
  li:hover {
    img {
      opacity: 0.8;
      transition: all 0.5s;
    }
    h3 {
      color: #fff;
    }
  }

  @media (max-width: 992px) {
    padding-top: 40px;
    h2 {
      font-size: 32px;
      margin-bottom: 32px;
    }
    ul {
      font-size: 32px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 32px;
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    ul {
      flex-direction: column;
      align-items: center;
      li:nth-child(1) {
        margin-bottom: 16px;
      }
      li:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}

.recommend {
  padding-top: 64px;
  padding-bottom: 64px;
  h2 {
    margin-bottom: 60px;
  }
  li {
    margin-left: 30px;
  }
  li:nth-child(1) {
    margin-left: 0;
  }
  h3 {
    margin-bottom: 7px;
  }
  &-text {
    border: 1px solid #dee2e6;
    padding-top: 14px;
    padding-bottom: 15px;
  }
  &-text p:nth-child(2) {
    margin-bottom: 10px;
  }

  @media (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 32px;
    h2 {
      font-size: 32px;
    }
    ul {
      flex-wrap: wrap;
    }
    li {
      width: 45%;
      margin-bottom: 28px;
      img {
        width: 100%;
      }
    }
    li:nth-child(3) {
      margin-left: 0;
    }
  }

  @media (max-width: 768px) {
    li {
      width: 100%;
      margin-left: 0;
    }
  }
}

input[type='checkbox'] {
  display: unset;
  width: auto;
}
::placeholder {
  opacity: 0.2;
}

.contact {
  padding-top: 64px;
  padding-bottom: 80px;
  &-form {
    width: 730px;
  }
  h2 {
    margin-bottom: 24px;
  }
  h2 + p {
    margin-bottom: 20px;
  }

  button[type='submit'] {
    width: 350px;
    margin: 42px auto auto;
  }

  @media (max-width: 992px) {
    padding-top: 36px;
    padding-bottom: 40px;
    .contact-form {
      width: 450px;
    }
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
    form {
      font-size: 14px;
    }
  }

  @media (max-width: 568px) {
    .contact-form {
      width: 100%;
    }
    button[type='submit'] {
      width: 165px;
    }
  }
}

footer {
  .footer-contact {
    border-bottom: 1px solid #fff;
    li {
      margin-bottom: 20px;
    }
    img {
      width: 48px;
      margin-right: 12px;
      vertical-align: middle;
    }
  }
  .footer-copyright {
    img {
      margin-right: 38px;
    }
  }
  .footer-policy {
    li:nth-child(2) {
      margin-left: 62px;
    }
  }

  @media (max-width: 992px) {
    img {
      width: 24px;
    }
    .footer-contact {
      font-size: 20px;
      img {
        width: 24px;
      }
    }
    .footer-copyright img {
      display: none;
    }
  }

  @media (max-width: 768px) {
    
    .footer-menu ul:nth-child(1) {
      display: none;
    }
    .footer-menu{
      float: right;
    }
   
    .footer-info,
    .footer-policy {
      display: block;
    }
  
    .footer-policy{
      li:nth-child(2) {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        margin-left: 0;
        margin-top: 8px;
      }
    }
    .footer-copyright{
      margin-bottom: 7px;
      
    }
  }
}

