.question-content {
  h3 {
    margin-bottom: 36px;
  }
  p {
    margin-left: 95px;
    white-space: pre;
  }
  @media (max-width:992px){
    p{
      white-space: normal;
    }
  }
  @media (max-width: 568px) {
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-left: 0px;
      text-align: justify;
    }
    li{
      margin-bottom: 20px;
    }
  }
}
