section {
  padding-top: 64px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  @include pad {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include mobile {
    padding-top: 32px;
    padding-bottom: 52px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// content
.banner {
  height: 840px;
  background-image: url('./images/banner.png');
  background-repeat: no-repeat;
  background-size: cover; //背景圖放大佔滿整個容器
  background-position: center;
  @include mobile {
    height: 394px;
    background-image: url('./images/banner-sm.png');
  }
  .banner-inner {
    height: 100%; // 撐開高度
    text-align: right;
    .slogan {
      font-size: 64px;
      color: $text-primary-dark;
      @include pad {
        font-size: 48px;
      }
      @include mobile {
        font-size: 32px;
      }
    }
    .series {
      font-size: 36px;
      color: $text-primary-dark;
      @include pad {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.keypoint {
  background-color: $bg-primary;
  .h2 {
    color: $text-primary-dark;
  }
  .keypoint-item {
    @include pad {
      flex-wrap: wrap;
    }
  }
  .keypoint-item > li {
    text-align: center;
    width: 20%;
    @include pad {
      width: 35%;
      margin-bottom: 40px;
    }
    @include mobile {
      width: 70%;
    }
    .h3 {
      font-size: 24px;
      color: $text-primary-dark;
      margin-bottom: 4px;
      @include pad {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
    .p {
      font-size: 16px;
      text-align: left;
    }
  }
  @include pad {
    .keypoint-item li:nth-child(2) {
      order: 1;
    }
    .keypoint-item li:nth-child(3) {
      order: 2;
    }
    .keypoint-item li:nth-child(1) {
      order: 3;
    }
    .keypoint-item li:nth-child(4) {
      order: 4;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; // 撐開高度 底下title齊高
    margin-bottom: 40px;
    @include pad {
      margin-bottom: 16px;
    }
  }
}

.classic {
  .h2 {
    color: $text-primary-dark;
  }
  .classic-item li .h3 {
    font-size: 48px;
    color: $text-primary-light;
    margin-left: 30px;
    @media (max-width: $breakpoint-desktop-l) {
      font-size: 36px;
    }
    @include pad {
      font-size: 28px;
    }
    @include mobile {
      color: #fff;
    }
    h3 {
      margin-left: 8px;
    }
  }
  .classic-item li .h3:nth-child(2) {
    margin-right: 30px;
  }

  .classic-item li {
    margin-bottom: 32px;
    @include pad {
      margin-bottom: 8px;
    }
  }

  .classic-item li > img {
    max-width: 635px;
    @media (max-width: $breakpoint-desktop-l) {
      max-width: 50%;
    }
  }
  @media (max-width: $breakpoint-desktop-l) {
    .classic-item li:nth-child(2) {
      flex-direction: row;
    }
  }

  @media (max-width: $breakpoint-mobile-l) {
    .classic-item li {
      justify-content: center;
      position: relative;
    }
    .classic-item li > img {
      max-width: 345px;
    }
    .classic-item li .h3 {
      justify-content: center;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      .icon-diamond {
        content: url('./images/icon-diamond-white.svg');
      }
      .icon-sun {
        content: url('./images/icon-sun-white.svg');
      }
      .icon-thunder {
        content: url('./images/icon-thunder-white.svg');
      }
    }
  }
}

.crossover {
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .h2 {
    color: #fff;
  }
  .crossover-item {
    padding: 0 15px;
    li {
      max-width: 540px;
      position: relative;
      margin-left: 30px;
      .h3 {
        color: $text-primary-light;
        font-size: 72px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        @include pad {
          font-size: 32px;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-left: 0px;
    }
    @include mobile {
      flex-wrap: wrap;
      li {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 16px;
      }
      li:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.recommend {
  padding-bottom: 64px;
  .h2 {
    color: $text-primary-dark;
  }
  .recommend-item li {
    width: 25%;
    margin-left: 30px;
    border: 1px solid #dee2e6;
    img {
      max-width: 100%;
    }
  }
  .recommend-item {
    .h3,
    .main-p,
    .sub-p {
      font-size: 14px;
      color: $text-secondary-dark;
    }
    img {
      margin-bottom: 14px;
    }
    .h3 {
      margin-bottom: 7px;
    }
    .main-p {
      margin-bottom: 10px;
    }
    .sub-p {
      color: $text-secondary-light;
      margin-bottom: 15px;
    }
    .p {
      font-size: $h7-font-size;
    }
    li:first-child {
      margin-left: 0;
    }
    @include pad {
      .h3,
      .main-p,
      .sub-p,
      img {
        margin-bottom: 16px;
      }
      flex-wrap: wrap;
      li {
        margin: 0;
        width: 49%;
      }
    }
    @include mobile {
      li {
        width: 100%;
      }
    }
  }
}

.contact {
  background-color: $bg-primary;
  .contact-inner {
    max-width: 730px;
  }
  .contact-text-remind {
    font-size: $h6-font-size;
    margin-bottom: 20px;
    @include pad {
      font-size: $h7-font-size;
      margin-bottom: 12px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
  .contact-form {
    flex-direction: column;
    .form-group {
      margin-bottom: 16px;
      @include pad {
        margin-bottom: 8px;
      }
    }
    label {
      font-size: 16px;
      margin-bottom: 4px;
      @include pad {
        font-size: 14px;
        margin-bottom: 2px;
      }
    }
    input,
    textarea {
      padding: 14px 16px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #000;
      @include pad {
        padding: 8px 12px;
      }
    }
    input::placeholder,
    textarea::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    .check {
      margin-bottom: 42px;
    }
    .btn-submit {
      input[type='submit'] {
        font-size: $h7-font-size;
        width: 350px;
        background-color: $bg-secondary;
        color: #fff;
        border: none;
        padding: 16px 0;
        @include pad {
          font-size: 14px;
          width: 210px;
        }
        @include mobile {
          width: 165px;
        }
      }
    }
  }
}
