// footer
.footer {
  @include pad {
    padding: 20px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .container {
    @include pad {
      padding: 20px 10px;
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 46px;
    }
  }

  &-main {
    border-bottom: 1px solid #fff;
    .footer-main-item {
      padding-bottom: 20px;
      @include desktop {
        padding-bottom: 24px;
      }
    }
    &-item .menu {
      li {
        margin-left: 48px;
        @include desktop {
          margin-left: 40px;
        }
      }
      li:first-child {
        margin-left: 0px;
      }
      margin-bottom: 36px;
      @include desktop {
        margin-bottom: 26px;
      }

      @include pad {
        display: none;
      }
    }
    .footer-main-item .tel,
    .footer-main-item .mail {
      font-size: $h3-font-size;
      margin-bottom: 20px;
      @include desktop {
        font-size: $h6-font-size;
      }
      @include pad {
        font-size: $h7-font-size;
      }
      .contact-icon {
        width: 48px;
        @include desktop {
          width: 32px;
        }
        @include pad {
          width: 20px;
        }
      }
      p {
        margin-left: 12px;
        @include pad {
          margin-left: 5px;
        }
      }
    }
    .footer-main-item img {
      height: auto;
    }
    .media {
      a {
        margin-left: 32px;
        max-width: 48px;
        min-width: 24px;
        @include desktop {
          margin-left: 24px;
          max-width: 24px;
        }
      }
      li:first-child {
        a {
          margin-left: 0;
        }
      }
    }
  }
  .footer-sub {
    padding-top: 24px;
    @include pad {
      padding-top: 18px;
      flex-direction: column;
      align-items: start;
    }
    p {
      margin-left: 38px;
    }
    a {
      font-size: 14px;
    }
    @include desktop {
      .sub-item-logo {
        display: none;
      }
      p {
        margin-left: 0;
      }
    }
    @include pad {
      .sub-item p {
        margin-bottom: 7px;
      }
    }
  }

  ul.sub-item {
    li {
      margin-left: 62px;
      a {
        display: block;
      }
      @include pad {
        margin-left: 0;
        margin-bottom: 8px;
      }
    }
    @include pad {
      flex-direction: column;
    }
  }
}

// a hover effect
footer .menu a, footer .tel p, footer .mail p  {
  border-bottom:1px solid rgba(0,0,0,0);
}
footer .menu a:hover, .media a:hover {
  border-bottom: 1px solid #fff;
}
footer .tel p:hover, footer .mail p:hover{
  border-bottom:1px solid rgba(0,0,0,0);
  border-bottom: 1px solid #fff;
}
