.card {
  &-header {
    background-color: $bg-color-light;
  }
  .img-circular {
    background-image: url('../images/emilywang.jpeg');
  }
  .text-main {
    line-height: 1.5; 
  }
  .reverse {
    transform: rotate(-90deg);
  }
}

