<div class="card c-mb-2">
  <h5 class="card-header d-flex justify-content-between align-items-center">
    <div class="card-text">
      <p class="text-xs">Chapter Assignment 2 / HTML&CSS</p>
      <p class="bold">Please check this file for me, thanks!</p>
    </div>
    <i class="material-icons">more_vert</i>
  </h5>
  <div class="card-body">
    <div class="media">
      <div  class="align-self-start mr-3 img-circular"></div>
      <div class="media-body">
        <h5 class="mt-0 bold text-m">Emily Wang</h5>
        <p class="note text-xs">10:38 AM (4 hours ago)</p>
        <p class="text-main text-s ">
          Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following
          code the height of the 
          <span class="text-block"> div</span>
           is bigger than the height of the 
           <span class="text-block">img</span>  
           ? There is a gap below the image, but it
          doesn’t seems to be a padding/margin. What is the gap or extra space below image?
        </p>
        <a href="#" class="btn bg-light dark bold">
          <i class="material-icons reverse">attachment</i> 
          <span class="align-text-bottom">HW-2-David.zip</span>
          
        </a>
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <% if (current!=='edit'){%>
      <%- include('comment') %>
    <% }else{ %>
      <%- include('editor') %>
    <% } %>
  </div>
</div>
