<div class="d-flex assignment-header">
  <h2 class="h2"><%= data['title'] %></h2>
  <div class="dropdown header-option">
    <button
      class="dropdown-toggle border-0  bg-transparent d-flex align-items-center bold header-option"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      <%= data['dropdown'] %> <i class="material-icons">  <%= data['icon'] %></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">SASS</a>
      <a class="dropdown-item" href="#">HTML</a>
      <a class="dropdown-item" href="#">Javascript</a>
    </div>
  </div>
</div>

