   <div class="comment media">
      <div class="align-self-start mr-3 img-circular" ></div>
      <div class="media-body">
        <h5 class="mt-0 d-flex justify-content-between bold comment-name bold text-m">Andy Chen (You) 
          <div>
            <i class="material-icons ">star_border</i>
            <i class="material-icons c-pl-3">edit</i>
          </div> 
        </h5>    
        <p class="note text-xs">13:24 AM (1 hours ago)</p>
        <p>
          Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and
          d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.
        </p>
        <p>
          You can: 　
          
          <ul>
            <li> adjust the 
              <span class="text-block">vertical-align</span>   of the image to position it elsewhere (e.g. the 
              <span class="text-block">middle</span>  ) or
            </li>
            <li> change the 
              <span class="text-block">display</span>  so it isn’t inline.
            </li>
          </ul>
        </p>
      </div>
    </div>

