// @import './reset.css';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// css reset end


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300;400;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap');


@mixin font($size,$weight,$height){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}
@mixin title($main-color,$sub-color){
  h2{
    color: $main-color;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $main-color;
    @include font(32px,400,43px);
    span{
      color:$sub-color;
      @include font(24px,500,28px);
    }
  }
}

$primary-color:#415165;
$secondary-color:#A00404;

body{
  font-family: 'Roboto','Noto Sans', sans-serif;
  padding-top: 30px;
  img{
    display: inline-block;
  }
}
.container {
  width: 1200px;
  margin:0 auto 48px;
}

.photo{
  h1{
    @include font(80px,400,94px);
    padding: 17px 0;
    border-bottom:2px solid #000;
  }
  img{ 
    padding: 48px 0;
  }
}

.profile,.edu, .work{
  @include title(#000,$secondary-color);
  ul>li{
    @include font(24px,400,36px);
    padding-bottom: 24px;
  }
}

.skills{
  background-color: $primary-color;
  color:#fff;
  text-align: center;
  margin-bottom: 72px;
  .skills-inner{
    padding-top: 24px;
    padding-bottom: 36px;
    @include title(#fff,#fff);
    h2{
      margin-bottom: 40px;
    }
    ul{
      display: inline-block;
      margin: 0 auto;
      text-align: left;
      border-left: 1px solid #96A9C4;
      padding-left: 24px;
    }
    ul>li{
      @include font(24px,300,36px);
      padding-bottom: 20px;
    }
    ul>li:last-child{
      padding-bottom: 0;
    }
  }
}

.work{
  ul{
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
    p{
      @include font(20px,400,30px);
    }
  }
  ul>li:last-child{
    padding-bottom: 0;
  }
 
  img{
    display: inline-block;
    margin: 8px 0;
  }
}

.footer{
  background-color: $primary-color;
  color:#fff;
  .footer-inner{
    padding-top: 24px;
    text-align: center;
    @include title(#fff,#fff);
    h2{
      margin-bottom: 32px;
    }
  }
  ul>li{
    @include font(24px,300,36px);
    padding-bottom: 16px;
  }
  a{
    color:#fff;
    text-decoration: none; 
  }
  .icon>a{
    margin-left: 24px;
  }
}

a:hover{
  border-bottom: 3px solid #fff;
}

.container:last-child{
  margin-bottom: 0;
}