.header{
  .text-hide{
    background-image: url("../images/d’Perfume.png");
    width: 128px;
    height: 38px;
  }
  .navbar-toggler{
    outline: none;
  }
  .badge{
    top: 0;
    left: 60%;
  }

}