.header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 88px;
  padding-right: 56px;
  @include pad {
    padding-left: 39px;
    padding-right: 19px;
  }
  @include mobile {
    padding: 0;
    flex-direction: column;
  }

  &-logo {
    @include mobile {
      height: 50px;
      margin: 10px 0;
    }
    a {
      background-image: url('../images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 49px;
      @media (max-width: $breakpoint-mobile-m) {
        width: 60px;
      }
      @include mobile {
        width: 48px;
      }
    }
  }
  // menu
  &-menu {
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .header-menu li {
    a {
      padding-left: 32px;
      padding-right: 32px;
      @include desktop {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    @include mobile {
      text-align: center;
      width: 50%;
      margin: 0;
      border: 1px solid #fff;
    }
    a {
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      @include mobile {
        padding: 8px 0;
        border: none;
      }
    }
    a:hover {
      border-bottom: 2px solid #fff;
      @include mobile {
        border: none;
        color: $text-primary-light;
        background-color: #fff;
      }
    }
    @include pad {
      margin-left: 40px;
    }
    @media (max-width: $breakpoint-mobile-l) {
      margin-left: 20px;
    }
    @include mobile {
      margin: 0;
    }
  }
}
