<div class="d-flex">
  <h2 class="h2 bold"><%= data['title'] %></h2>
  <button 
    type="button" 
    class="header-option btn  border-0 dark bg-transparent bold d-flex align-items-center"
    data-toggle="modal" data-target="#newProfileModal">
   <a href="#"><i class="material-icons primary">add</i></a> 
    <%= data['button']%>
  </button>
</div>

<%# include('modal-form',{type:'new'});%>