<table class="admin-table table">
  <thead >
    <tr >
      <th scope="col" class="d-flex align-items-center">ID <i class="material-icons">arrow_downward</i></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="modal" data-target="#exampleModalojoij">
      <th scope="row">#1</th>
      <td>Emir Wicks</td>
      <td>emir.wicks@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons"data-toggle="modal" data-target="#viewProfileModal">visibility</i>
        <i class="material-icons" data-toggle="modal" data-target="#editProfileModal">edit</i>
      </td>
    </tr>

    <tr>
      <th scope="row">#2</th>
      <td>Zaina Goldsmith</td>
      <td>zaina.goldsmith@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons" >edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#3</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#4</th>
      <td>Pharrell Murray</td>
      <td>Pharrell.Murray@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#5</th>
      <td>Annika Mcbride</td>
      <td>Annika.Mcbride@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#6</th>
      <td>Fatimah Clark</td>
      <td>Fatimah.Clark@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#7</th>
      <td>Klaudia Rhodes</td>
      <td>Klaudia.Rhodes@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#8</th>
      <td>Tillie Lucero</td>
      <td>Tillie.Lucero@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#9</th>
      <td>Sabrina Stephenson</td>
      <td>Sabrina.Stephenson@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
    <tr>
      <th scope="row">#10</th>
      <td>Annie Smith</td>
      <td>Annie.Smith@mail.com</td>
      <td>Yes</td>
      <td class="text-right">
        <i class="material-icons">visibility</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
  </tbody>
</table>