// 共用設定
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
 font-family: $font-family-base;
 font-size: $font-size-base;
 line-height: $line-height-base; 
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

h2,.h2{
  font-size: $h2-font-size;
  margin-bottom:60px ;
  @include pad{
    font-size: 32px;
    margin-bottom: 32px;

  }
  @include mobile{
    font-size: 24px;
    margin-bottom: 20px;
  }
}


// container
.container {
  max-width: 1110px;
  margin: 0 auto;
  @include pad{
    max-width: 690px;
  }
  @include mobile{
    max-width: 345px;
  }
}


