// color
$text-primary-dark: #650300;
$text-primary-light: #aa0601;
$text-secondary-dark: #212529;
$text-secondary-light: #707070;
$bg-primary: #aa06010d;
$bg-secondary: #aa0601;

//font-family
// 中文
@font-face {
  font-family: 'custom-sans-serif';
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap);
  unicode-range: U+4E00-9FFF;
}
// 英文
@font-face {
  font-family: 'custom-sans-serif';
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
  unicode-range: U+00-024F;
}

$font-family-base: 'custom-sans-serif', 'Segoe UI', 'Microsoft JhengHei', Roboto,
  'Helvetica Neue', Arial, sans-serif;

// 字級統計
// pc
// 單行 20/28 36/50 64/90 48/67 24/33 48/63 72/95 14/19   16/22 36/48 16/21 14/20
// 多行 16/24 20/30
// h2 48/67
// ===============================================================================
// pad
// 單行 20/28  48/67 32/45 20/28  28/37 32/43 14/19 14/20 16/22 20/26  16/21 14/20
// 多行  16/24 14/21
// h2 32/45
// ===============================================================================
// mobile
// 單行 20/28 16/22 32/45 28/37 32/43 14/19 14/20 16/21
// 多行 16/24 14/21
// h2 24/33 20/28
$font-size-base: 1rem; // 16px
$h1-font-size: $font-size-base * 4; // 64px
$h2-font-size: $font-size-base * 3; // 48px
$h3-font-size: $font-size-base * 2.25; // 36px
$h4-font-size: $font-size-base * 1.75; // 28px
$h5-font-size: $font-size-base * 1.5; // 24px
$h6-font-size: $font-size-base * 1.25; // 20px
$h7-font-size: $font-size-base; // 16px

// 行高
$line-height-base:1.5;

// breakpoint 
$breakpoint-desktop-l:1200px;
$breakpoint-desktop:992px;
$breakpoint-pad:768px;
$breakpoint-mobile:767px;
$breakpoint-mobile-l:667px;
$breakpoint-mobile-m:568px;
$breakpoint-mobile-s:414px;
$breakpoint-mobile-xs:375px;

