.banner {
  background-image: url('../images/index1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  padding-top: 295px;
  padding-bottom: 295px;
  @media (min-width: 992px) {
    padding-top: 101px;
    padding-bottom: 135px;
    .h2{
      font-size: 32px;
    }
    .p{
      font-size: 24px;
    }
   
  }

}

.series {
  &-img {
    height: 555px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  #series1 {
    background-image: url('../images/index2.jpg');
  }
  #series2 {
    background-image: url('../images/index3.png');
  }
  #series3 {
    background-image: url('../images/index4.jpg');
  }
  #series4 {
    height: 1080px;
    background-image: url('../images/index5.jpg');
  }
  &-training{
    padding: 18px 0 18px;
  }
  @media (min-width: 992px) {
    &-img{
      height: 350px;
    }
    #series4{
      height: 680px;
    }
  }
}

.hot {
  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 540px;
  }
  #hot1 {
    background-image: url('../images/index6.jpg');
  }
  #hot2 {
    background-image: url('../images/index7.jpg');
  }
  #hot3 {
    background-image: url('../images/index8.jpg');
  }
  &-beforePrice{
    text-decoration: line-through;
  }
  @media (min-width: 992px) {
    &-img{
      height: 350px;
      background-position: bottom;
    }
  }
}

.subscribe{
  background-image: url('../images/index10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 padding: 312px 0 112px ;
}