// 顏色
$bg-color-light:#EDF4EE;
$bg-color-dark:#2A8356;
$text-color-primary:#121212;
$text-color-secondary:#2A8356;
$note-color:#707070;
$border-color-primary:#2A8356;

// 行高
$line-height-base: 1.2;

// 字體
$font-family-base: Lato, Helvetica, Arial, sans-serif;
$font-family-alt: "Roboto Mono",  Helvetica, Arial, sans-serif;
