// display
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
// flex property
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
// =======================================
// text-align
.text-center {
  text-align: center;
}
// =======================================
// typography
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.text-uppercase {
  text-transform: uppercase;
}
// =======================================
// text
.text-white{
  color:#fff;
}
.text-primary{
  color:$text-primary-dark;
}
.text-secondary{
  color:$text-primary-light;
}
.text-light{
 color:$text-secondary-light; 
}
// =======================================
.bg-primary{
  background-color: $bg-primary;
}
.bg-secondary{
  background-color: $bg-secondary;
}
// =======================================
// 間距
// 64 40 80 60 24 20 16 40 48 32
// 40 80 32 24
// 32 8  16 20
@for $i from 1 through 11 {
  .mb-#{$i} {
    margin-bottom: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .mt-#{$i} {
    margin-top: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .ml-#{$i} {
    margin-left: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .mr-#{$i} {
    margin-right: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .pt-#{$i} {
    padding-top: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .pb-#{$i} {
    padding-bottom: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .pl-#{$i} {
    padding-left: ($i) * 8px;
  }
}
@for $i from 1 through 11 {
  .pr-#{$i} {
    padding-right: ($i) * 8px;
  }
}
// =======================================
// font size
@for $i from 1 through 11 {
  .text-size-#{$i} {
    font-size: ($i) * 4px;
  }
}

// =======================================
// breakpoint
@mixin pad { // 768
  @media (max-width: $breakpoint-pad) {
    @content;
  }
}
@mixin mobile { // 414
  @media (max-width: $breakpoint-mobile-s) {
    @content;
  }
}
@mixin desktop { // 992
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}
// =======================================
// hide-text
.hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
