.list {
  li {
    margin-bottom: 104px;
    width: 23%;
  }
  &-img {
    max-height: 164px;   
    overflow: hidden;
  }
  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin-left: 8px;
    border-radius: 4px;
  }
  .color-1 {
    margin-left: 0;
    background-color: #5f3e2d;
  }
  .color-2 {
    background-color: #b75929;
  }
  @media (max-width: 992px) {
    li{
      width: 48%;
      margin-bottom: 72px;
    }
   
  }
  @media (max-width: 568px) {
    font-size: 16px;
   li{
     width: 100%;
     margin-bottom: 32px;
   }
  }
}
